allow hal_sensors_default persist_file:dir { search } ;
allow hal_sensors_default sysfs:file { read } ;
allow hal_sensors_default sysfs:file { open } ;
