allow rfs_access self:capability net_raw;
allow rfs_access persist_file:dir { search } ;
allow rfs_access rfs_access:capability { dac_override } ;
allow rfs_access rfs_access:capability { dac_read_search } ;
